{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.description) }}
        {{ form_row(form.issue) }}

        <button type="submit" formnovalidate="formnovalidate">Update</button>
    {{ form_end(form) }}
{% endblock %}
